.component-sidebar {
  position: absolute;    
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  border-right: 1px solid var(--color-grey-500);
  overflow-x: scroll;

  .item {
    display: block;
    text-decoration: none;
    cursor: pointer;
    padding: 4px 8px;
    border-bottom: 1px solid var(--color-grey-100);
    position: relative;

    span {
      float: right;
      margin-right: 20px;
    }

    &:after {
      content: '>';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 18px;
      display: flex;
      align-items: center;
    }

    &.active {
      background-color: var(--color-grey-300);
    }

    &:active {
      color: black;
    }
  }

  .heading {
    padding: 4px 8px;
    background-color: var(--color-grey-900);
    color: white;
    display: flex;
    justify-content: space-between;
  }
}